<div class="login-dark" style="height: 760px;">
    <form>
        <h2 class="sr-only">Forgot Password</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group"><input class="form-control" type="password" name="email" placeholder="New Password" [(ngModel)]="newPassword"></div>
        <div class="form-group"><input class="form-control" type="password" name="email" placeholder="Confirm Password" [(ngModel)]="confirmPassword"></div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" (click)="resetPassword()">Reset Password</button>
        </div>
        <a class="forgot" routerLink="">Return to Login</a>
    </form>
    <div class="toast-container position-fixed top-0 end-0" style="z-index: 9999;"></div>
</div>